.settings/
.metadata/
.recommenders/
.classpath
.project
target/
.idea
*.iml
.vscode
.lintr
output
output_old
r-generated-files.txt
reports/aktin-monthly/src/main/resources/admit.d.xml
reports/aktin-monthly/src/main/resources/admit.h.svg
reports/aktin-monthly/src/main/resources/admit.h.xml
reports/aktin-monthly/src/main/resources/admit.hwd.weekend.svg
reports/aktin-monthly/src/main/resources/admit.wd.svg
reports/aktin-monthly/src/main/resources/admit2.h.xml
reports/aktin-monthly/src/main/resources/age.svg
reports/aktin-monthly/src/main/resources/age.xml
reports/aktin-monthly/src/main/resources/cedis_groups.svg
reports/aktin-monthly/src/main/resources/cedis_top.svg
reports/aktin-monthly/src/main/resources/cedis.xml
reports/aktin-monthly/src/main/resources/discharge.d.box.svg
reports/aktin-monthly/src/main/resources/discharge.d.hist.svg
reports/aktin-monthly/src/main/resources/discharge.svg
reports/aktin-monthly/src/main/resources/discharge.xml
reports/aktin-monthly/src/main/resources/icd_top.svg
reports/aktin-monthly/src/main/resources/icd.xml
reports/aktin-monthly/src/main/resources/isoreason.xml
reports/aktin-monthly/src/main/resources/los.xml
reports/aktin-monthly/src/main/resources/multiresistant.xml
reports/aktin-monthly/src/main/resources/phys.d.box.svg
reports/aktin-monthly/src/main/resources/phys.d.hist.svg
reports/aktin-monthly/src/main/resources/phys.d.xml
reports/aktin-monthly/src/main/resources/referral.xml
reports/aktin-monthly/src/main/resources/sex.xml
reports/aktin-monthly/src/main/resources/stayfive.svg
reports/aktin-monthly/src/main/resources/stayfour.svg
reports/aktin-monthly/src/main/resources/stayone.svg
reports/aktin-monthly/src/main/resources/staythree.svg
reports/aktin-monthly/src/main/resources/staytwo.svg
reports/aktin-monthly/src/main/resources/transport.xml
reports/aktin-monthly/src/main/resources/triage.d.box.svg
reports/aktin-monthly/src/main/resources/triage.d.hist.svg
reports/aktin-monthly/src/main/resources/triage.d.xml
reports/aktin-monthly/src/main/resources/triage.phys.d.avg.svg
reports/aktin-monthly/src/main/resources/triage.phys.d.xml
reports/aktin-monthly/src/main/resources/triage.svg
reports/aktin-monthly/src/main/resources/triage.xml
admit.d.xml
admit.h.svg
admit.h.xml
admit.hwd.weekend.svg
admit.wd.svg
admit2.h.xml
age.svg
age.xml
cedis_groups.svg
cedis_top.svg
cedis.xml
discharge.d.box.svg
discharge.d.hist.svg
discharge.svg
discharge.xml
icd_top.svg
icd.xml
isoreason.xml
los.xml
multiresistant.xml
phys.d.box.svg
phys.d.hist.svg
phys.d.xml
refferal.xml
sex.xml
stayfive.svg
stayfour.svg
stayone.svg
staythree.svg
staytwo.svg
transport.xml
triage.d.box.svg
triage.d.hist.svg
triage.d.xml
triage.phys.d.avg.svg
triage.phys.d.xml
triage.svg
triage.xml
