.settings/
.metadata/
.recommenders/
.classpath
.project
target/
.idea
*.iml
.vscode
.lintr
output
output_old
r-generated-files.txt
reports/aktin-monthly/src/main/resources/admit.d.xml
reports/aktin-monthly/src/main/resources/admit.h.svg
reports/aktin-monthly/src/main/resources/admit.h.xml
reports/aktin-monthly/src/main/resources/admit.hwd.weekend.svg
reports/aktin-monthly/src/main/resources/admit.wd.svg
reports/aktin-monthly/src/main/resources/admit2.h.xml
reports/aktin-monthly/src/main/resources/age.svg
reports/aktin-monthly/src/main/resources/age.xml
reports/aktin-monthly/src/main/resources/cedis_groups.svg
reports/aktin-monthly/src/main/resources/cedis_top.svg
reports/aktin-monthly/src/main/resources/cedis.xml
reports/aktin-monthly/src/main/resources/discharge.d.box.svg
reports/aktin-monthly/src/main/resources/discharge.d.hist.svg
reports/aktin-monthly/src/main/resources/discharge.svg
reports/aktin-monthly/src/main/resources/discharge.xml
reports/aktin-monthly/src/main/resources/icd_top.svg
reports/aktin-monthly/src/main/resources/icd.xml
reports/aktin-monthly/src/main/resources/isoreason.xml
reports/aktin-monthly/src/main/resources/los.xml
reports/aktin-monthly/src/main/resources/multiresistant.xml
reports/aktin-monthly/src/main/resources/phys.d.box.svg
reports/aktin-monthly/src/main/resources/phys.d.hist.svg
reports/aktin-monthly/src/main/resources/phys.d.xml
reports/aktin-monthly/src/main/resources/refferal.xml
reports/aktin-monthly/src/main/resources/sex.xml
reports/aktin-monthly/src/main/resources/stayfive.svg
reports/aktin-monthly/src/main/resources/stayfour.svg
reports/aktin-monthly/src/main/resources/stayone.svg
reports/aktin-monthly/src/main/resources/staythree.svg
reports/aktin-monthly/src/main/resources/staytwo.svg
reports/aktin-monthly/src/main/resources/transport.xml
reports/aktin-monthly/src/main/resources/triage.d.box.svg
reports/aktin-monthly/src/main/resources/triage.d.hist.svg
reports/aktin-monthly/src/main/resources/triage.d.xml
reports/aktin-monthly/src/main/resources/triage.phys.d.avg.svg
reports/aktin-monthly/src/main/resources/triage.phys.d.xml
reports/aktin-monthly/src/main/resources/triage.svg
reports/aktin-monthly/src/main/resources/triage.xml
