.settings/
.classpath
.project
target/
src/main/resources/test_data
src/main/resources/data/diagnoses.txt
src/main/resources/data/encounters.txt
src/main/resources/data/patients.txt
src/main/resources/src/chapters/Scratch.R
src/main/resources/src/chapters/Test.R
