name: CI/CD

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+**
  pull_request:
    branches:
      - master

jobs:
  build:
    uses: aktin/aktin-github-scripts/workflows/maven-build-deploy.yml
    with:
      java-version: 8
      install-r: true